<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="HelpdeskDB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HelpdeskDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="60" slidingExpiration="true" />
		</authentication>

		<authorization>
			<deny users="?" />
		</authorization>

		<pages controlRenderingCompatibilityVersion="3.5"
			   clientIDMode="AutoID" />

		<sessionState mode="InProc" timeout="60" />
	</system.web>

<!-- Allow anonymous for Login, Logout, Register -->
	<location path="Account/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Account/Logout.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Account/Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Admin area: Admin role only -->
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Admin/Inventory">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Support: any authenticated user -->
	<location path="Support">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Account/Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
